altair
pandas
datetime
feedparser
ftplib
io
json
requests
requests_html
streamlit
collections
numpy
time
datetime
seaborn
beautifulsoup4 
lxml
tqdm
ipywidgets 
IPython
traceback
yfinance
yahoo_fin==0.8.9.1

